@import "common/foundation/variables";
//@import "scss/footer";

.footer {
  background: $primary-low;
  .wrap {
    display: flex;
  }
  ul {
    display: flex;
    flex: 1;
    margin: 0;
  }
  li {
    list-style: none;
    margin: 1em;
    font-size: $font-up-1;
    color: $secondary;
  }
  .footer-icon {
    
    display: flex;
    align-items: center;
    margin-right: 5%;
    color: $tertiary;
    div{
      margin: 8px;
    }
  }
  .footer-logo {
    display: flex;
    align-items: center;
    img {
      max-height: 40px;
    }
  }
}
